#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


#showTime {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  width: 55%;
  background-color: rgba(255, 0, 0,1.0);
  padding: 10px;
  -webkit-clip-path: polygon(0% 0%,50% 0%,45% 100%,0% 100%);
  -moz-clip-path: polygon(0% 0%,50% 0%,45% 100%,0% 100%);
  clip-path: polygon(0% 0%,50% 0%,45% 100%,0% 100%);
  -webkit-shape-outside: polygon(0% 0%,50% 0%,45% 100%,0% 100%); ;
    color: white;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 3px #888888;

}

.left {
  width: 30%;
  float: left;
  vertical-align: top;
   font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
}
.right {
  float: right;
  width: 60%;
  position: top;
}
